
@{
    ViewBag.Title = "Set PDF Viewer Preferences for the Generated PDF Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    TreeView_ToggleNode("demoTreeView_PDF_Viewer_Preferences");
    TreeView_SelectNode("demoTreeView_Set_Viewer_Preferences");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Set_Viewer_Preferences", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px; padding-right: 10px;
                padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Set PDF Viewer Preferences
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter allows you to set various PDF viewer preferences to be
                                                                    used when the generated PDF document is displayed in a PDF viewer. The Full Description
                                                                    and a Code Sample can be accessed from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-bottom: 5px; font-weight: bold">
                                                                                    HTML Page URL or Local File to Convert
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="urlTextBox" type="text" value="http://www.evopdf.com/DemoAppFiles/HTML_Files/Structured_HTML.html" id="urlTextBox" style="width:500px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight: bold" colspan="2">
                                                                                    PDF Viewer Preferences
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="height: 10px" colspan="2"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width: 20px"></td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    Page Mode:
                                                                                                </td>
                                                                                                <td style="width: 5px"></td>
                                                                                                <td style="width: 110px">
                                                                                                    <select name="pageModeComboBox" id="pageModeComboBox">
                                                                                                        <option selected="selected" value="Default">Default</option>
                                                                                                        <option value="Display Outlines">Display Outlines</option>
                                                                                                        <option value="Display Thumbnails">Display Thumbnails</option>
                                                                                                        <option value="Display Full Screen">Display Full Screen</option>
                                                                                                        <option value="Display Optional Content Group">Display Optional Content Group</option>
                                                                                                        <option value="Display Attachments">Display Attachments</option>

                                                                                                    </select>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="height: 10px" colspan="2"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width: 20px"></td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    Page Layout:
                                                                                                </td>
                                                                                                <td style="width: 5px"></td>
                                                                                                <td>
                                                                                                    <select name="pageLayoutComboBox" id="pageLayoutComboBox">
                                                                                                        <option value="Single Page">Single Page</option>
                                                                                                        <option selected="selected" value="One Column">One Column</option>
                                                                                                        <option value="Two Column Left">Two Column Left</option>
                                                                                                        <option value="Two Column Right">Two Column Right</option>

                                                                                                    </select>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="height: 10px"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width: 20px"></td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input id="hideMenuBarCheckBox" type="checkbox" name="hideMenuBarCheckBox"><label for="hideMenuBarCheckBox">Hide Menu Bar</label>
                                                                                                </td>
                                                                                                <td style="width: 10px"></td>
                                                                                                <td>
                                                                                                    <input id="hideToolbarCheckBox" type="checkbox" name="hideToolbarCheckBox"><label for="hideToolbarCheckBox">Hide Toolbar</label>
                                                                                                </td>
                                                                                                <td style="width: 10px"></td>
                                                                                                <td>
                                                                                                    <input id="hideWindowUICheckBox" type="checkbox" name="hideWindowUICheckBox"><label for="hideWindowUICheckBox">Hide Window UI</label>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="height: 10px"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="width: 20px"></td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <input id="displayDocTitleCheckBox" type="checkbox" name="displayDocTitleCheckBox"><label for="displayDocTitleCheckBox">Display Document Title</label>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}