
@{
    ViewBag.Title = "Select in API the HTML Elements for which to Retrieve Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    TreeView_ToggleNode("demoTreeView_HTML_Elements_Location");
    TreeView_SelectNode("demoTreeView_Select_in_API_Elements_to_Retrieve");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Select_in_API_Elements_to_Retrieve", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px;
                padding-right: 10px; padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Select in API the HTML Elements for which to Get Location
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter API allows you to select the HTML elements for which to
                                                                    retrieve the location in PDF and other useful information from HTML document like
                                                                    tag name, class, ID or HTML code. In this demo the selected HTML elements will be
                                                                    highlighted in PDF with colored rectangles. The Full Description and a Code Sample
                                                                    can be accessed from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-bottom: 5px; font-weight: bold">
                                                                                    HTML Page URL or Local File to Convert
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="urlTextBox" type="text" value="http://www.cnn.com" id="urlTextBox" style="width:500px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-bottom: 5px; font-weight: bold">
                                                                                    HTML Elements to Highlight CSS Selector
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="htmlElementsSelectorTextBox" type="text" value="H1, H2, H3, H4, H5, H6" id="htmlElementsSelectorTextBox" style="width:500px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

