
@{
    ViewBag.Title = "Select Conversion Triggering Mode";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["HtmlStringToConvert"] = System.IO.File.ReadAllText(ViewData["ContentRootPath"].ToString() + "/DemoAppFiles/Input/HTML_Files/Triggering_Modes.html");
    String currentPageUrl = ViewData["CurrentPageUrl"].ToString();
    String rootUrl = currentPageUrl.Substring(0, currentPageUrl.Length - "Conversion_Triggering_Modes".Length);
    ViewData["BaseUrl"] = rootUrl + "DemoAppFiles/Input/HTML_Files/";
    ViewData["UrlToConvert"] = rootUrl + "DemoAppFiles/Input/HTML_Files/Triggering_Modes.html";
}

<script>
    function toggleHtmlSource(convertUrl) {
        var urlPanel = document.getElementById("urlPanel");
        var htmlStringPanel = document.getElementById("htmlStringPanel");

        if (convertUrl && urlPanel.style.display == "none") {
            urlPanel.style.display = "block";
            htmlStringPanel.style.display = "none";
        }
        else if (!convertUrl && htmlStringPanel.style.display == "none") {
            urlPanel.style.display = "none";
            htmlStringPanel.style.display = "block";
        }
    }

    function toggleDelayed(enablePanel) {
        var delayPanel = document.getElementById("conversionDelayPanel");

        if (enablePanel) {
            delayPanel.style.display = "block";
        }
        else {
            delayPanel.style.display = "none";
        }
    }

    TreeView_ToggleNode("demoTreeView_Triggering_Modes");
    TreeView_SelectNode("demoTreeView_Conversion_Triggering_Modes");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Conversion_Triggering_Modes", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px;
                padding-right: 10px; padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Select Conversion Triggering Mode
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter allows you to select when you want to start conversion
                                                                    of the HTML page to PDF. You can start conversion immediately after the page was
                                                                    loaded, delayed after the page was loaded with a constant time interval or manually
                                                                    by calling the evoConverter.startConversion() method from the HTML page JavaScript
                                                                    code. The Full Description and a Code Sample can be accessed from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <span style="font-weight:normal;"><input id="convertHtmlRadioButton" type="radio" name="HtmlPageSource" value="convertHtmlRadioButton" checked="checked" onclick="javascript:toggleHtmlSource(false)"><label for="convertHtmlRadioButton">Convert HTML String</label></span>
                                                                                </td>
                                                                                <td style="width: 50px"></td>
                                                                                <td>
                                                                                    <span style="font-weight:normal;"><input id="convertUrlRadioButton" type="radio" name="HtmlPageSource" value="convertUrlRadioButton" onclick="javascript:toggleHtmlSource(true)"><label for="convertUrlRadioButton">HTML Page URL or Local File to Convert</label></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>

                                                                    <div id="htmlStringPanel">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-weight: bold">
                                                                                        HTML String with Manual Triggering
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <textarea name="htmlStringTextBox" rows="2" cols="20" id="htmlStringTextBox" style="height:450px;width:500px;">@(ViewData["HtmlStringToConvert"].ToString())</textarea>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="height: 10px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight: bold">
                                                                                        Base URL
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="baseUrlTextBox" type="text" value="@(ViewData["BaseUrl"].ToString())" id="baseUrlTextBox" style="width:500px;">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                    <div id="urlPanel" style="display:none">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding-bottom: 5px; font-weight: bold" colspan="3">
                                                                                        HTML Page to Convert URL
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="urlTextBox" type="text" value="@(ViewData["UrlToConvert"].ToString())" id="urlTextBox" style="width:435px;">
                                                                                    </td>
                                                                                    <td style="width: 5px"></td>
                                                                                    <td>
                                                                                        <a id="viewHtmlLinkButton" href="@(ViewData["UrlToConvert"].ToString())" target="_blank">View HTML</a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-weight: bold" colspan="2">
                                                                                    Select Triggering Mode
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="height: 10px" colspan="2"></td>
                                                                            </tr>
                                                                            <tr style="height: 30px">
                                                                                <td style="width: 20px"></td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <span style="font-weight:normal;"><input id="autoRadioButton" type="radio" name="TriggeringMode" value="autoRadioButton" checked="checked" onclick="javascript: toggleDelayed(false)"><label for="autoRadioButton">Auto</label></span>
                                                                                                </td>
                                                                                                <td style="width: 20px"></td>
                                                                                                <td>
                                                                                                    <span style="font-weight:normal;"><input id="delayedRadioButton" type="radio" name="TriggeringMode" value="delayedRadioButton" onclick="javascript: toggleDelayed(true)"><label for="delayedRadioButton">Delayed</label></span>
                                                                                                </td>
                                                                                                <td style="width: 20px"></td>
                                                                                                <td>
                                                                                                    <span style="font-weight:normal;"><input id="manualRadioButton" type="radio" name="TriggeringMode" value="manualRadioButton" onclick="javascript: toggleDelayed(false)"><label for="manualRadioButton">Manual</label></span>
                                                                                                </td>
                                                                                                <td style="width: 20px"></td>
                                                                                                <td>
                                                                                                    <div id="conversionDelayPanel" style="display:none">

                                                                                                        <table>
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        Delay Conversion:
                                                                                                                    </td>
                                                                                                                    <td style="width: 5px"></td>
                                                                                                                    <td>
                                                                                                                        <input name="conversionDelayTextBox" type="text" value="3" id="conversionDelayTextBox" style="width:35px;">
                                                                                                                    </td>
                                                                                                                    <td style="width: 5px"></td>
                                                                                                                    <td>
                                                                                                                        sec
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>

                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

