
@{
    ViewBag.Title = "Auto Create Hierarchical Bookmarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    TreeView_ToggleNode("demoTreeView_Bookmarks");
    TreeView_SelectNode("demoTreeView_Auto_Create_Bookmarks");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Auto_Create_Bookmarks", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>            
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px; padding-right: 10px;
                padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Auto Create Hierarchical Bookmarks
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter can be configured to automatically create a hierarchy
                                                                    of bookmarks in PDF document based on H1 to H6 head tags found in HTML document
                                                                    by simply turning on a flag. The Full Description and a Code Sample can be accessed
                                                                    from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-bottom: 5px; font-weight: bold">
                                                                                    HTML Page URL or Local File to Convert
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="urlTextBox" type="text" value="http://www.evopdf.com/DemoAppFiles/HTML_Files/Structured_HTML.html" id="urlTextBox" style="width:500px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span style="font-weight:normal;"><input id="autoBookmarksCheckBox" type="checkbox" name="autoBookmarksCheckBox" checked="checked"><label for="autoBookmarksCheckBox">Create a Hierarchy of Bookmarks from H1 to H6 Tags</label></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}
