
@{
    ViewBag.Title = "Select in HTML the Elements to Hide in Generated PDF";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["HtmlStringToConvert"] = System.IO.File.ReadAllText(ViewData["ContentRootPath"].ToString() + "/DemoAppFiles/Input/HTML_Files/HTML_Elements_to_Hide.html");
    String currentPageUrl = ViewData["CurrentPageUrl"].ToString();
    String rootUrl = currentPageUrl.Substring(0, currentPageUrl.Length - "HTML_Elements_Visibility/Select_in_HTML_Elements_to_Hide".Length);
    ViewData["BaseUrl"] = rootUrl + "DemoAppFiles/Input/HTML_Files/";
    ViewData["UrlToConvert"] = rootUrl + "DemoAppFiles/Input/HTML_Files/HTML_Elements_to_Hide.html";
}

<script>
    function toggleHtmlSource(convertUrl) {
        var urlPanel = document.getElementById("urlPanel");
        var htmlStringPanel = document.getElementById("htmlStringPanel");

        if (convertUrl && urlPanel.style.display == "none") {
            urlPanel.style.display = "block";
            htmlStringPanel.style.display = "none";
        }
        else if (!convertUrl && htmlStringPanel.style.display == "none") {
            urlPanel.style.display = "none";
            htmlStringPanel.style.display = "block";
        }
    }

    TreeView_ToggleNode("demoTreeView_HTML_Elements_Visibility");
    TreeView_SelectNode("demoTreeView_Select_in_HTML_Elements_to_Hide");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Select_in_HTML_Elements_to_Hide", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px;
                padding-right: 10px; padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Select in HTML the Elements to Hide in Generated PDF
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter allows you select directly in HTML the elements to exclude
                                                                    from rendering to PDF by setting the 'data-exclude' attribute on HTML elements you
                                                                    want to exclude. The converter does not reflow the HTML content when you exclude
                                                                    an element from rendering and the place where the element would be normally rendered
                                                                    remains blank. If you want to reflow the HTML content when the HTML element is hidden,
                                                                    you have to set 'display:none' style for HTML element, eventually creating two separate
                                                                    stylesheets for screen and for print. The Full Description and a Code Sample can
                                                                    be accessed from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <span style="font-weight:normal;"><input id="convertHtmlRadioButton" type="radio" name="HtmlPageSource" value="convertHtmlRadioButton" checked="checked" onclick="javascript:toggleHtmlSource(false)"><label for="convertHtmlRadioButton">Convert HTML with Exclude Attributes</label></span>
                                                                                </td>
                                                                                <td style="width: 50px"></td>
                                                                                <td>
                                                                                    <span style="font-weight:normal;"><input id="convertUrlRadioButton" type="radio" name="HtmlPageSource" value="convertUrlRadioButton" onclick="javascript:toggleHtmlSource(true)"><label for="convertUrlRadioButton">Convert URL or Local File</label></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>

                                                                    <div id="htmlStringPanel">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-weight: bold">
                                                                                        HTML String with Exclude Attributes
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <textarea name="htmlStringTextBox" rows="2" cols="20" id="htmlStringTextBox" style="height:450px;width:500px;">@(ViewData["HtmlStringToConvert"].ToString())</textarea>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="height: 10px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight: bold">
                                                                                        Base URL
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="baseUrlTextBox" type="text" value="@(ViewData["BaseUrl"].ToString())" id="baseUrlTextBox" style="width:500px;">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                    <div id="urlPanel" style="display:none">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding-bottom: 5px; font-weight: bold" colspan="3">
                                                                                        HTML Page to Convert URL
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="urlTextBox" type="text" value="@(ViewData["UrlToConvert"].ToString())" id="urlTextBox" style="width:435px;">
                                                                                    </td>
                                                                                    <td style="width: 5px"></td>
                                                                                    <td>
                                                                                        <a id="viewHtmlLinkButton" href="@(ViewData["UrlToConvert"].ToString())" target="_blank">View HTML</a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

