
@{
    ViewBag.Title = "Define_Custom_Internal_Links";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["HtmlStringToConvert"] = System.IO.File.ReadAllText(ViewData["ContentRootPath"].ToString() + "/DemoAppFiles/Input/HTML_Files/Custom_Internal_Links.html");
    String currentPageUrl = ViewData["CurrentPageUrl"].ToString();
    String rootUrl = currentPageUrl.Substring(0, currentPageUrl.Length - "Internal_Links/Define_Custom_Internal_Links".Length);
    ViewData["BaseUrl"] = rootUrl + "DemoAppFiles/Input/HTML_Files/";
    ViewData["UrlToConvert"] = rootUrl + "DemoAppFiles/Input/HTML_Files/Custom_Internal_Links.html";
}

<script>
    function toggleHtmlSource(convertUrl) {
        var urlPanel = document.getElementById("urlPanel");
        var htmlStringPanel = document.getElementById("htmlStringPanel");

        if (convertUrl && urlPanel.style.display == "none") {
            urlPanel.style.display = "block";
            htmlStringPanel.style.display = "none";
        }
        else if (!convertUrl && htmlStringPanel.style.display == "none") {
            urlPanel.style.display = "none";
            htmlStringPanel.style.display = "block";
        }
    }

    TreeView_ToggleNode("demoTreeView_Internal_Links");
    TreeView_SelectNode("demoTreeView_Define_Custom_Internal_Links");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Define_Custom_URI_Links", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px;
                padding-right: 10px; padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Define Custom Internal Links in HTML
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter allows you to transform any HTML element to an internal
                                                                    link to another HTML element in generated PDF document by using the 'data-internal-link-enabled'
                                                                    and 'data-link-target-id' on the link source HTML element and the 'data-target-id'
                                                                    attribute on link target HTML element. With 'data-internal-link-enabled' attribute
                                                                    you can also disable the automatic conversion of an internal link in HTML to an
                                                                    internal link in PDF when you set this attribute to false. The Full Description
                                                                    and a Code Sample can be accessed from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <span style="font-weight:normal;"><input id="convertHtmlRadioButton" type="radio" name="HtmlPageSource" value="convertHtmlRadioButton" checked="checked" onclick="javascript:toggleHtmlSource(false)"><label for="convertHtmlRadioButton">Convert HTML with Internal Link Attributes</label></span>
                                                                                </td>
                                                                                <td style="width: 20px"></td>
                                                                                <td>
                                                                                    <span style="font-weight:normal;"><input id="convertUrlRadioButton" type="radio" name="HtmlPageSource" value="convertUrlRadioButton" onclick="javascript:toggleHtmlSource(true)"><label for="convertUrlRadioButton">Convert URL or Local File</label></span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>

                                                                    <div id="htmlStringPanel">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-weight: bold">
                                                                                        HTML String with Custom Internal Link Attributes
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <textarea name="htmlStringTextBox" rows="2" cols="20" id="htmlStringTextBox" style="height:450px;width:500px;">@(ViewData["HtmlStringToConvert"].ToString())</textarea>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="height: 10px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="font-weight: bold">
                                                                                        Base URL
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="baseUrlTextBox" type="text" value="@(ViewData["BaseUrl"].ToString())" id="baseUrlTextBox" style="width:500px;">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                    <div id="urlPanel" style="display:none">
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding-bottom: 5px; font-weight: bold" colspan="3">
                                                                                        HTML Page to Convert URL
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <input name="urlTextBox" type="text" value="@(ViewData["UrlToConvert"].ToString())" id="urlTextBox" style="width:435px;">
                                                                                    </td>
                                                                                    <td style="width: 5px"></td>
                                                                                    <td>
                                                                                        <a id="viewHtmlLinkButton" href="@(ViewData["UrlToConvert"].ToString())" target="_blank">View HTML</a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

