
@{
    ViewBag.Title = "Avoid Page Breaks Inside Images Using API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    TreeView_ToggleNode("demoTreeView_Page_Breaks");
    TreeView_SelectNode("demoTreeView_Avoid_Page_Breaks_Inside_Images_Using_API");
</script>

@using (Html.BeginForm("ConvertHtmlToPdf", "Avoid_Page_Breaks_Inside_Images_Using_API", FormMethod.Post))
{
    <table style="width: 100%; height: 100%">
        <tbody>
            <tr>
                <td style="border: solid 1px Black; padding-top: 10px; padding-left: 10px; padding-right: 10px;
                padding-bottom: 0px">
                    <table style="width: 100%; height: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size: 16px; font-weight: bold; height: 20px; padding-bottom: 15px;
                            padding-top: 5px">
                                    Avoid Page Breaks Inside Images Using API
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 100%;">

                                    <table style="width: 535px; height: 927px">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align: top">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    EVO HTML to PDF Converter can be configured to avoid the page breaks inside images
                                                                    in the generated PDF document setting the 'AvoidImageBreak' API property. The Full
                                                                    Description and a Code Sample can be accessed from the top tabs.
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding-bottom: 5px; font-weight: bold">
                                                                                    HTML Page URL or Local File to Convert
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="urlTextBox" type="text" value="http://www.cnn.com" id="urlTextBox" style="width:500px;">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <span style="font-weight:normal;"><input id="avoidImagesBreakCheckBox" type="checkbox" name="avoidImagesBreakCheckBox" checked="checked"><label for="avoidImagesBreakCheckBox">Avoid Page Breaks Inside Images</label></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 20px"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="submit" name="convertToPdfButton" value="Convert HTML to PDF" id="convertToPdfButton">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
}

